/* @import "./components/card.css";*/

@import "/components/navigation.css";
@import "/components/header.css";
@import "global.css";

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 2px 4px 6px rgb(236, 199, 220);
  padding: 10px;
}
.card-tag {
  display: inline;
  border-radius: 5px;
  background-color: rgb(203, 169, 188);
  color: rgb(236, 199, 220);
  font-size: 12px;
  padding: 1%;
}
.card-button {
  background-color: rgb(236, 199, 220);
  border-radius: 5px;
  padding: 2%;
  border: none;
}

.main-content {
  position: absolute;
  top: 25%;
  width: 100%;
}
