/* @import "./components/card.css";*/

@import "/components/navigation.css";

@import "/components/header.css";
.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card {
  width: 80%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 5%;
  border: 1px solid;
  padding: 5px;
}
li {
  list-style: none;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightblue;
  z-index: 2;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
}
.main-content {
  position: absolute;
  top: 20%;
  width: 100%;
}
