/* @import "./components/card.css";*/

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card {
  width: 80%;
  height: 150px;
  background-color: lightgoldenrodyellow;
  border-radius: 5%;
  border: 1p solid;
}
.card-question {
  color: gray;
}
.card-button {
  color: gray;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightblue;
  z-index: 2;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
}
.main-content {
  position: absolute;
  top: 20%;
  width: 100%;
}
