.darkmode {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.darkmode:hover {
    background-color: #f5f5f5;
}
