.card-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
}
@media (min-width: 768px) {
  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  position: relative;
  background-color: var(--color-card);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  width: 100%;
}
@media (min-width: 768px) {
  .card {
    width: calc(50% - var(--spacing) / 2);
  }
}
@media (min-width: 768px) {
  .card {
    width: calc(33.333% - var(--spacing) * 2 / 3);
  }
}

.card__bookmark {
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  /*transition: tranform 0.2s ease;  ??? coach fragen!*/
}
.card__bookmark:hover {
  transform: scale(1.1);
}
.card__question {
  color: #1a202c;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 var(--spacing) 0;
  padding-right: 40px;
}

.card__answer {
  color: var(--color-text-primary);
  /*font-size: 1.25rem;*/
  font-weight: 500;
  margin: 0 0 var(--spacing) 0;
  padding-right: 40px;
}
.card__answer--hidden {
    display: none;
}

.card__button {
  background-color: var(--color-accent);
  padding: 12px var(--spacing);
  border: none;
  border-radius: var(--border-radius);
  width: 100%;
  cursor: pointer;
}
.card__button:hover {
  background-color: #f5f5f5;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: var(--spacing);
}
.card__tag {
  border-radius: var(--border-radius);
  background-color: #eceff1;
  padding: 4px 12px;
  font-size: 0.75rem;
}
