.cardcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 150px;
  background-color: lightblue;
}
