.header {
  background-color: var(--color-card);
  border-radius: var(--border-radius);
  padding: var(--spacing-l);
  text-align: center;
  margin-bottom: var(--spacing);
}
.header__title {
  font-size: 2rem;
  font-weight: 500;
  color: #1a202c;
  margin: 0 0 var(--spacing);
}
.header__subtitle {
  color: #64748b;
  margin-bottom: var(--spacing); /*coach fragen*/
}
