.header {
  background-color: var(--color-card);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-s);
  padding: var(--spacing-l);
  text-align: center;
  margin-bottom: var(--spacing-l);
}
.header__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-text-primary);
  margin: 0 0 var(--spacing-s);
}
.header__subtitle {
  color: var(--color-text-secundary);
  margin: 0;
}
