.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(236, 199, 220);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  z-index: 2;
}
