.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  background-color: rgb(236, 199, 220);
  padding: 2%;
}
.navigation {
  display: flex;
  justify-content: space-around;
}
